## Intro

Practicing:
- "+" and "*" operations
- basic loops
- lists
- aliasing

**Task 1**: Given a list of words, concatenate all the words into a single string with a space between each word.

Example 1:
words = ["Hello", "World"]

Example 2:
words = ["Hello", "world", "this", "is", "Python"]

Note: for the second list you want to write a loop.

In [5]:
words = ["Hello", "World"]
words2 = ["Hello", "world", "this", "is", "Python"]

sent1 = " ".join(words)

sent2=""
for word in words2:
    sent2 += word + " "

print(sent1)
print(sent2)

Hello World
Hello world this is Python

**Task 2**: Given a string word and an integer repeat_count, generate a banner pattern by repeating the word multiple times and stacking these repetitions to form a rectangular block.

word = "Python"

repeat_count = 4

Output:
```
PythonPythonPythonPython
PythonPythonPythonPython
PythonPythonPythonPython
PythonPythonPythonPython
```
Hint: "\n" will give you the end of the line.

In [5]:
word = "Python"

repeat_count = 4

banner = ""

for i in range(repeat_count):
    banner += (word * repeat_count) + "\n"

# Print the banner
print(banner)

PythonPythonPythonPython
PythonPythonPythonPython
PythonPythonPythonPython
PythonPythonPythonPython

**Task 3:** Given two lists of strings, list1 and list2, representing the favorite fruits of two different people. The function should concatenate these two lists into a single list, remove any duplicate fruits, and return the list sorted in alphabetical order.

```
Inputs:
list1 = ["apple", "banana", "cherry"]
list2 = ["banana", "date", "elderberry", "fig"]
Output:
["apple", "banana", "cherry", "date", "elderberry", "fig"]
```
Hint: my_list.sort() sorts your list.

In [10]:
list1 = ["apple", "banana", "cherry"]
list2 = ["banana", "date", "elderberry", "fig"]

list3 = list1 + list2

list3.sort()

list4 = []
for i in list3:
    if list4 == [] or i != list4[-1]:
        list4.append(i)
print(list4)

['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig']

**Task 4**: Given a list of names (strings) and returns a new list where the first letter of each name is capitalized.

```
Input:
names = ["alice", "bob", "charlie"]
Output:
["Alice", "Bob", "Charlie"]
```
Hint: the upper() function will upper case a string.

In [13]:
names = ["alice", "bob", "charlie"]
cap_names = [name[0].upper() + name[1:] for name in names]
# cap_names = []
# for name in names:
#     cap_names.append(name.upper())
print(cap_names)

['Alice', 'Bob', 'Charlie']

**Task 5**: Given a list of names (strings) as input and returns a new list containing only the names that start with a vowel.

```
Input:
names = ["Alice", "Bob", "Eve", "Charlie", "Ivan", "Olivia"]
Output:
["Alice", "Eve", "Ivan", "Olivia"]
```
Hint: check if the first letter is in "aeiouAEIOU". This is a perfect problem for a list comprehension.

In [17]:

names = ["Alice", "Bob", "Eve", "Charlie", "Ivan", "Olivia"]
names2 = [name for name in names if name[0] in "aeiouAEIOU"]
# names2 = []
# for name in names:
#     if name[0] in "aeiouAEIOU":
#         names2.append(name)
print(names2)

['Alice', 'Eve', 'Ivan', 'Olivia']

**Task 6:**  Without running any code, what is the value of list1 after executing the following code?
```
list1 = [1, 2, 3, 4, 5]
list2 = list1
list2[0] = 100
```

[100, 2, 3, 4, 5]

## OPTIONAL
1. Given a non-empty string like "Code" return a string like "CCoCodCode".

```
Input: 'Code'
Output: 'CCoCodCode'

Input: 'abc'
Ouput: 'aababc'

Input: 'ab'
Output: 'aab'
```

2. Write a function that reverses a string. The input string is given as an array of characters s. You must do this by modifying the input array in-place.
```
Input: s = ["h","e","l","l","o"]
Output: ["o","l","l","e","h"]
```

In [36]:
def multiplyStr(s):
    newStr= ""
    for i in range(1, len(s)+1):
        newStr += (s[0:i])
    return newStr

str1 = "Code"
str2 = "abc"
str3 = "ab"

print(multiplyStr(str1))
print(multiplyStr(str2))
print(multiplyStr(str3))

CCoCodCode
aababc
aab

In [37]:
s = ["h","e","l","l","o"]

def reverse_string(s):
    s2 = s[::-1]
    return s2

print(reverse_string(s))

['o', 'l', 'l', 'e', 'h']

In [41]:
csv_content = """Name,Age,City
Alice,30,New York
Bob,25,Los Angeles
Charlie,35,Chicago"""

result = []

content = csv_content.split("\n")

headers = content[0].split(",")

for i in range(1, len(content)):
    row_elems = content[i].split(",")
    d_row = {}
    for j in range(len(row_elems)):
        d_row[headers[j]] = row_elems[j]
    result.append(d_row)


print(result)

TypeError: list indices must be integers or slices, not str